* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: gray;
    font-size: 17px;
    margin-right: 10px;
}

a:last-child {
    margin-right: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.wrapper-logo img{
    width: 600px;
}

.wrapper-search {
    margin-bottom: 20px;
}

.wrapper-search input{
    border-radius: 20px;
    border: 2px solid #eee;
    padding: 8px 24px;
    width: 400px;
}

.wrapper-buttons input {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #eee;
}

.footer-left,
.footer-right {
    padding: 10px;
}