* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}

.container {
}

a {
    text-decoration: none;
    color: gray;
    font-size: 17px;
    padding-right: 10px;
}

a:last-child {
    padding-right: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

